.breadcrumb-container {
  background: var(--color-header-bg);
  display: flex;
  flex-direction: column;
  justify-content: center;
  align-items: left;
  gap: 2rem;
  padding-left: 7.5rem;
  padding-bottom: 2rem;
}

.breadcrumb-link {
  text-decoration: none;
  color: inherit;
  outline: none;
  
  &:hover {
    color: var(--color-primary-hover);
  }

  i {
    margin-inline: .3rem;
  }
}

ul {
  display: flex;
  flex-direction: row;
  list-style: none;
  gap: 2rem;
  
}