#faq{
  position: relative;
  text-align: center;
  padding-top: 3rem;
  padding-bottom: 3rem;
  margin: 1rem;
  background-color: var(--color-bg);
  
  

  .header{
    grid-area: header;
    font-size: 25px;
    font-weight: 800;
    padding-bottom: 2rem;
    
  }

  .desktop-header{
    grid-area: d-header;
    display: none;
    text-align: left;
    
  }

  .undertext {
    grid-area: text;
    font-size: 18px;
    color: var(--color-grey500);
    margin-bottom: 3rem;
    
  }

  .cards {
    display: none;
    grid-area: cards;
    margin-bottom: 2rem;
    gap: 2rem;
    

    .phone {    
      width: 343px;
      border: 1px solid var(--color-grey300);
      padding: var(--container-padding);
      padding: 2rem;
      text-align: left;
      

      .nav-link{
        color: var(--color-primary);
        font-weight: 600;
        text-decoration: none;
        
      }
      
      .nav-link:hover {
        color: var(--color-primary-clicked);
        text-decoration: underline;
        
      }
    }

    .chat {
      width: 343px;
      border: 1px solid var(--color-grey300);
      padding: var(--container-padding);
      padding: 2rem;
      text-align: left;
      

      .nav-link{
        color: var(--color-success);
        font-weight: 600;
        text-decoration: none;
        
      }
      
      .nav-link:hover {
        color: var(--color-success-clicked);
        text-decoration: underline;
        
      }
    }

    p{
      padding: 1rem 0;
      
    }

    span{
      font-weight: 600;
      
    }

    span:hover{
      cursor: pointer;
      text-decoration: underline;
      
    }
  }

  .contactus {
    grid-area: contact;
    
  }

  .faq-block{

    grid-area: faq;
    
  
    .faqCard {
        padding-bottom: 3rem;
        
    }
    
    .question{
      display: grid;
      grid-template-columns: 6fr 1fr;
      grid-template-areas: "question button";
      cursor: pointer;
      height: 75px;
      border: 1px solid var(--color-grey300);
      align-items: center;
      padding: var(--container-padding);
      gap: 1rem;
      

    
      p{
        grid-area: question;
        font-size: .9rem;
        text-align: left;
        font-weight: 600 ;
        
      }
    
      .btn-round {
        cursor: pointer;
        grid-area: button;
        height: 36px;
        width: 36px;
        display: flex;
        justify-content: center;
        align-items: center;
        border-radius: 50%;
        border: 1px solid var(--color-grey300);
        background-color: var(--color-grey100);
        color: var(--color-grey900-text);
        transition: all 300ms;
        
      }
    }
    
    .question:hover p{
      text-decoration: underline;
      
    
    }
    
    .question:hover .btn-round{
      background-color: var(--color-primary);
      color: white;
      
    }
    
    .open .btn-round{
      background-color: #6366f1;
      transform: rotate(180deg);
      color: white;
      
    }

    .answer {

      display: grid;
      grid-template-rows: 0fr;
      overflow: hidden;

      transition: grid-template-rows 300ms, padding 300ms;
      padding-inline: 1rem ;

      border: 1px solid var(--color-grey300);
      text-align: left;
      font-size: 14px;
      color: var(--color-grey600-text);
      
    }
    
    .open .answer {
      transition: grid-template-rows 300ms, padding-bottom 300ms;

      grid-template-rows: 1fr;
      padding: 1rem;
    }
    
    .expandable {
      min-height: 0px;
      
    
    }
  }
}



@media (min-width: 768px) {
  #faq {
    max-width: var(--tablet-width);
    margin: var(--tablet-margin);
    display: grid;
    grid-template-columns: 1fr;
    grid-template-areas: 
    "header"
    "text"
    "faq"
    "cards";

    .cards {
      display: flex;
    }

    .contactus {
      display: none;
    }
  }
}

@media (min-width: 1400px) {
   #faq {
    max-width: var(--desktop-width);
    margin: var(--desktop-margin);
    height: 675px;
    display: grid;
    grid-template-columns: 1fr 2fr;
    grid-template-areas: 
    "d-header faq"
    "text faq"
    "cards faq"
    "empty faq";
    gap: 2rem;

    .cards {
      width: 450px;
    }

    .header {
      display: none;
    }

    .undertext {
      text-align: left;
    }

    .desktop-header{
      display: grid;
    }
  }
}