#review {
  display: none;

  background: var(--background-gradient-one);
  height: 542px;
  align-items: center;
  
  .main-container {
    display: grid;
    grid-auto-rows: minmax(100px auto);
    grid-template-columns: 1fr 1fr 1fr;
    gap: 5rem;
    grid-template-areas: "headline card card";

    h1{
      grid-area: headline;
      font-size: 40px;
      font-weight: 800;
    }
  
    .card-container {

      grid-area: card;
      display: flex;
      gap: 2rem;
      .card {

        position: relative;
        border: 1px solid var(--color-primary);
        border-radius: .5rem;
        background-color: var(--color-bg);
        
        box-shadow: -10px 10px 10px rgba(0, 0, 0, 0.1);
    
        .quotemark {
          position: absolute; 
          top: -25px; 
        }
     
        .star-rating {
          color: var(--color-warning); 
          padding: 2.5rem 1.5rem 0rem 1.5rem;    
        }
    
        .text {
          padding: 1.5rem 1.5rem;
          color: var(--color-grey700-text);
          font-weight: 400;
        }
      
          .reviewer {
            display: flex;
            gap: 1rem;
      
            .job {
              color: var(--color-grey600);
            }
          }

        .reviewer{
          padding-inline: 1.5rem;
          padding-bottom: .5rem;  
          color: var(--color-grey900-text);
        }
      }
    }
  }
}

#review .main-container {
  max-width: var(--desktop-width);
  margin: var(--desktop-margin);
}

@media (min-width: 1400px) {
  #review {
    display: grid;
  }
}