#subscribe {
  display: flex;
  justify-content: center;

  background-color: var(--color-bg);


  .main-container{
    width: 366px;
    height: 251px;
    background-color: var(--color-grey100);
    border-radius: 3%;
    padding: 3rem var(--container-padding);

    display: grid;
    row-gap: 2rem;
    grid-template-columns: 1fr 2fr;
    grid-template-rows: 1fr 1fr;
    grid-template-areas: 
    "bell text"
    "input input";
  }

  .bell {
    grid-area: bell;
  }

  .main-text {
    grid-area: text;
  }

  .main-desktop-text {
    grid-area: dtext;
    display: none;
  }

  .input{
    display: flex;
    grid-area: input;
  }

  .input-container {
    position: relative;
    display: inline-block;
  }
  
  .input-container i {
    position: absolute;
    left: 10px;
    top: 35%;
    color: #ccc; 
  }
  
  .input-container .form-input {
    padding-left: 35px;
  }

  .form-input {
    border: 1px solid var(--color-grey400);
    border-top-left-radius: .5em;
    border-bottom-left-radius: .5em;
    height: 52px;
  }

  .form-input::placeholder {
    color: var(--color-grey500);
  }

  .btn-primary {
    display: block;  
    height: 52px;
    width: 115px;
    border-top-right-radius: .5em;
    border-bottom-right-radius: .5em;
    justify-content: center;
    align-items: center;
    text-align: center;
    padding: var(--container-padding);
    font-size: 16px;
    font-weight: 600;
  }
}

@media (min-width: 768px) {
  #subscribe{
    max-width: var(--tablet-width);
    margin: var(--tablet-margin);
  }
  
  #subscribe .main-container {
    width: 700px;
    height: 223px;

    display: grid;
    grid-template-columns: 1fr 2fr 2fr;
    grid-template-areas: "bell text input";


    align-items: center;
    justify-content: space-between;
  }

  #subscribe .main-container .bell,
  #subscribe .main-container .main-text,
  #subscribe .main-container .main-desktop-text,
  #subscribe .main-container .input {
  
    padding-top: 2rem; 
  }

  #subscribe .input-container i {
    top: 35%;
  }
}

@media (min-width: 1400px) {
  #subscribe{
    max-width: var(--desktop-width);
    margin: var(--desktop-margin);

    .form-input {
      width: 330px;
    }

    .main-text {
      display: none;
    }

    .main-desktop-text {
      display: grid; 
    }
  }
  
  #subscribe .main-container {
    width: 100vw;
    height: 223px;

    display: grid;
    grid-template-columns: 1fr 2fr 1fr;
    grid-template-areas: "bell dtext input";
    gap: 2rem;

  }

  #subscribe .main-container .bell {
    padding-left: 10rem;
  }

  #subscribe .main-container .input {
    padding-right: 5rem;
  }
}